body {
    margin: 0;
    outline: none;
    background-color: teal;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-player {
    padding: 1vw;
    border-radius: 2vw;
    box-shadow: 0 0 1vw #fff;
}